<h3> Add New To-Do Item </h3>

<%= form_for [@user, @item] do |f| %>

  <%= form_group_tag(item.errors[:name]) do %>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: "Enter item name", autofocus: true %>
  <% end %>

  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-success' %>
  </div>

<% end %>
